body {
    background-color: #add8e6;
     color:black;
    text-align:center;
    font-family:Arial, fantasy;
    font-size:25px;
}
h1{
    color:black;
    font-family:Verdana, fantasy;
    text-align:center;
